:root{
    --vermelho: #E50914;
    --preto: #141414; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* base */

body {
background: var(--preto);
font-family: Arial, Times, serif;
color: white;
}

header .conteiner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}

header .logo {

    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}

/* coisas relacionadas ao filme principal*/
.filmeprincipal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),
    url('/img/capa.png');

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filmeprincipal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 10px;
    width: 50%;
    }

.titulo{
    margin-top: 10%; /* porcentagem é bom para mobile */
    margin-left: 10px;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    border-radius: 7%;

    padding: 15px /* para cima e para baixo */ 10px /* esquerda e direita */;
    margin-right: 15px;
    margin-left: 10px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao-assistir{
    color: white;
    text-decoration: none;
}

.botao:hover {
    background-color: white;
    color: black;
}

.botao i /* para fazer o afastamento entre o botão e o escrito */{
    margin-right: 8px;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel{
margin-top: 5px;
}